VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_CONTACT_PHONE=+94 70 000 0000
VITE_CONTACT_EMAIL=info@thooddakkaaran.com
VITE_CONTACT_LOCATION=Mirusuvil, Sri Lanka
VITE_WHATSAPP_LINK=https://wa.me/94771234567
